@charset "utf-8";
/* CSS Document */
article, aside, details, summary, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {border: 0 none;margin: 0;outline: 0 none;padding: 0;}
* {word-break: break-all;}
body, html {color:#444; font:14px/1.5 arial,"微软雅黑","Microsoft Yahei","Hiragino Sans GB",sans-seri; _background-image:url(about:blank); _background-attachment:fixed;/** 防止 ie6 抖动 **/}
input { margin: 0;padding: 0;vertical-align:middle;font-size:14px; font-family:"微软雅黑","Microsoft Yahei","Hiragino Sans GB",sans-seri; outline:none;}
textarea{font-family:"微软雅黑","Microsoft YaHei",Arial;font-size:14px; outline:none;}
select{cursor: pointer; vertical-align: middle; font-family:"微软雅黑","Microsoft YaHei",Arial; padding:0; margin:0; outline:none;}
option{ padding:0; margin:0; outline:none;}
li {list-style-type: none;}
img {text-align: center; vertical-align: middle;}
address, cite, dfn, em, var { font-style: normal;}
a { text-decoration: none; color:#444; cursor:pointer;}
a:hover { text-decoration: underline;color:#f30;}
img{border:0px;}

/* 背景设置 */
.bg1{ background: #f5f5f5;}

/* 全屏盒子 */
.mainscroll{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;}

/* 登录 */
.login{ position: fixed; width: 380px; height: 400px; left: 0; top: 0; right: 0; bottom: 0; margin: auto; background: #FFFFFF; box-shadow: 0 1px 3px #c5c5c5; border-radius:8px;}
.login h3{ text-align: center; font-size: 28px; padding: 20px 0 10px;}
.login .listBox{ padding: 0 20px;}
.login .linkBox{ padding: 10px 0;}
.login .linkBox a{ color: #2ba1d6;}
.login .bts{ padding: 10px 0;}
.login div p{ padding: 10px 0 5px; color: #999999;}
.login div input.wenzi{ border: 1px solid #eaeaea; width: 100%; box-sizing:border-box; border-radius: 3px; height: 35px; line-height: 35px; padding:0 8px;}
.login div input[type='text']{ border: 1px solid #eaeaea;}
.login div input[type='password']{ border: 1px solid #eaeaea;}
.login div input[type='submit']{ width: 80%; height: 40px; display: block; margin: 0 auto; line-height: 40px; background: rgb(19, 170, 145); color: #FFFFFF; border:none; border-radius:6px; font-size: 16px;}

.mianPageTitle{font-size:666px;}

.register{ position: absolute; left: 0; top: 50px; right:0; bottom:50px; background: #FFFFFF; width: 60%; min-width:800px; margin: auto;}
